<!DOCTYPE html>
<html>
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <form action = "/login" method = "POST">
        <div>

            <p><%= loginErrorMessage %></p>
            <label for = "username">Username</label>
            <input type = "uesrname" id = "username" name = "username" required>
        </div>
        <div>
            <label for = "password">Password</label>
            <input type = "password" id = "password" name = "password" required>
        </div>
        <button type = "submit">Login</button>
    </form>
    <button onclick = "window.location.href='/'">Cancel</button>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
